.ListaPalabras {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.listaPalabras {
    display: flex;
}

.inputPalabras {
    display: flex;
    width: 100%;
    flex-direction: column;
    width: 60%;
}

.labelLista {
    margin: 0 auto 2vh 0;
    color: white;
}

.textareaLista {
    margin: auto;
    margin-left: 0;
}

.contPalabras {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.contClean {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}

.clean {
    background-color: red;
    color: rgb(228, 223, 223);
    margin: 0 0 0 auto;
    border-radius: 3px;
    padding: 0 5px 0 5px;
    cursor: pointer;
    user-select: none;

    &&:hover {
        background-color: rgb(184, 2, 2);
        color: white;
    }
}

.palabras {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    margin-left: auto;
}

.palabra {
    color: yellow;
    margin: 0 0 0 auto;
    font-size: 12px;
}

.divBoton {
    margin-top: 10vh;
}

.boton {
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    user-select: none;

    &:hover {
        background-color: black;
        color: white;
    }
}