.Resultado {
    margin: auto;
    display: flex;
    width: 80%;
    flex-direction: column;
}

.resultado {
    display: flex;
    width: 100%;
}

.sopaDeLetras {
    display: grid;
    grid-template-columns: repeat(14, 25px);
}

.letra {
    width: 25px;
    height: 22px;
    margin: auto;
    color: yellow;
    border: 1px solid #ccc;
    text-align: center;
}

.contPalabras {
    margin-left: auto;
    width: 50%;
    height: 100%;
    display: flex;
}

.noEncontradas {
    width: 40%;
    height: 100%;
    margin: auto;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

.h5no {
    color: white;
    margin: auto;
    margin-top: 0;
    font-weight: normal;
}

.palabras {
    border: solid 1px white;
    height: 93%;
    display: flex;
    flex-direction: column;
}

.palabraNo {
    color: red;
    font-size: 13.9px;
    margin: auto;
    margin: 0 auto 0 15%;
}

.encontradas {
    width: 40%;
    height: 100%;
    margin: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.h5en {
    color: white;
    margin: auto;
    margin-top: 0;
    font-weight: normal;
}

.palabraSi {
    color: green;
    font-size: 13.9px;
    margin: 0 auto 0 15%;
}

.boton {
    margin: auto;
    margin-top: 5vh;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    user-select: none;

    &:hover {
        background-color: black;
        color: white;
    }
}