.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #0f1011;
  display: flex;
  flex-direction: column;
}

.titulo {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10vh auto 0 auto;
}

.h1Titulo {
  margin: auto;
  color: white;
}

.h1TituloResultado {
  margin: auto;
  color: rgb(252, 243, 126);
}




/*!_________________________________________________________ RESPONSIVE _________________________________________________________ */






@media (max-width: 440px) {
  .h1TituloResultado {
    margin-bottom: 5%;
  }
}
